<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Retail Sale PRODUCTS </h1>
    <ul>
        <li><a href="/prd/rprd/Product1">Product 1</a></li>
        <li><a href="/prd/rprd/Product2">Product 2</a></li>
        <li><a href="/prd/rprd/Product3">Product 3</a></li>
        <li><a href="/prd/rprd/Product4">Product 4</a></li>
        <li><a href="/prd/rprd/Product5">Product 5</a></li>
    </ul>
</body>
</html>